@use '@angular/material' as mat;

@use './abstracts/colors';
@use './abstracts/spacing';
@use './abstracts/typography';
@use './abstracts/variables';

@use './base/reset';
@use './base/global';
@use './layout/app-layout';
@use './components/data-table';
@use './components/dialogs';

html {
  height: 100%;

  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Cairo, sans-serif;
  background: #f8fafc;
  color: #1e293b;
}

.app-snackbar-error {
  --mat-snack-bar-button-color: #fff;

  .mdc-snackbar__surface {
    background-color: #b91c1c !important;
    color: #fff !important;
  }
}

.app-snackbar-success {
  --mat-snack-bar-button-color: #fff;

  .mdc-snackbar__surface {
    background-color: #15803d !important;
    color: #fff !important;
  }
}