{
  "ConnectionStrings": {
    "Default": "Server=DESKTOP-IC5E3O7\\SQLEXPRESS;Database=BanquetHallDb1;Trusted_Connection=True;TrustServerCertificate=True"
  },
  "AuthServer": {
    "CertificatePassPhrase": "CHANGE_ME_openiddict_pfx_passphrase"
  },
  "StringEncryption": {
    "DefaultPassPhrase": "CHANGE_ME_string_encryption_passphrase_min_16_chars"
  },
  "Seed": {
    "AbpAdmin": {
      "Email": "admin@abp.io",
      "Password": "CHANGE_ME_strong_abp_admin_password"
    },
    "ApplicationAdmin": {
      "Enabled": true,
      "UserName": "your_admin_username",
      "Email": "admin@yourcompany.com",
      "Password": "CHANGE_ME_strong_application_admin_password",
      "Name": "Admin",
      "Surname": "User",
      "PhoneNumber": "+10000000000"
    }
  }
}
