<div class="app-shell">
  <aside
    class="app-shell__sidebar"
    [class.app-shell__sidebar--open]="layoutService.isMobile() && layoutService.sidebarOpen()">
    <app-sidebar></app-sidebar>
  </aside>

  @if (layoutService.isMobile() && layoutService.sidebarOpen()) {
    <button
      type="button"
      class="app-shell__backdrop"
      [attr.aria-label]="'Close' | appLocalization"
      (click)="layoutService.closeSidebar()">
    </button>
  }

  <div class="app-shell__main main-layout">
    <app-navbar></app-navbar>

    <div class="page-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
